.logo-container { height: 45vh; }
.logo {width: 400px;}
body {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
/* h1 {font-family: 'Staatliches', cursive;} */

.hero-coming-soon {
    background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url('../images/IMG_0020.JPG');
    background-position: center center;
    background-size: cover;
    color: white;
    font-weight: 900;
}

.material-icons {
  vertical-align: bottom;
}

.icon {
  vertical-align: bottom;
  height: 25px;
  width: 25px;
  color: white;
}
